@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@400;600;800&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --primary-color: #fbf7f3;
}

html {
  font-family: var(--font-inter);
}

body {
  background-color: var(--primary-color);
}