@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@400;600;800&family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import "tailwindcss";


@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --primary-color: #fbf7f3;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font-inter);
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.scroll-container {
  scroll-snap-type: x mandatory;
}
.scroll-item {
  scroll-snap-align: start;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

.carousel {
  margin: 50px auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 1em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group-books {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: max-content;
  animation: scroll-left 15s linear infinite;
} 

.card {
  flex: 0 0 5em;
  padding: 0.1em;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.genre-carousel {
  width: 100%;
  overflow: hidden;
}

.genre-track {
  display: flex;
  width: max-content;
  animation: genre-scroll 100s linear infinite;
}

.genre-group {
  display: flex;
  gap: 1rem;
}

.scroll-item {
  transition: transform 0.2s ease;
}

.scroll-item:hover {
  transform: scale(1.05);
}

@keyframes genre-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.genre-track:hover {
  animation-play-state: paused;
}
